{{diagnostic}}
<div class="container">
    <h1>Hero Form</h1>
    <form>
      <div class="form-group">
        <label for="name">Name</label>
        <input type="text" class="form-control" [(ngModel)]="model.name">
      </div>
      <div class="form-group">
      	<label for="power">Power</label>
      	<select class="form-control">
      		<option *ngFor="#pow of powers" [value]="pow">{{pow}}</option>
      	</select>
      </div>
      <div class="form-group">
        <label for="alterEgo">Alter Ego</label>
        <input type="text" class="form-control">
      </div>
      <button type="submit" class="btn btn-default">Submit</button>
    </form>
</div>