<div>
	<label>Plans</label>
	<p>Hello there</p>
	<div (click)="ngOnInit()">Click Test</div>
	<br>
	<div *ngFor="#newplan of newplans | async">
		<br>
		<label for="actdate">Date: </label>
		<span #actdate id="actdate">{{newplan.start | date:'MM/dd/yy'}}</span>
		<br>
		<br>
		<div id="actbox">
			<b #acttime>{{newplan.start | date:'shortTime' }} - {{newplan.end | date:'shortTime'}}</b>
			<p (click)="newDetails(newplan)" id="acttask">{{newplan.task}}</p>
		</div>
	</div>
	<!-- <div>test: {{new Date('2016-03-16T12:00:00-04:00') | date}}</div> -->
</div>